/* add css module styles here (optional) */

:root {
  --cbPadding: 64px; 

  /* INDICATOR ONLY */
  --cbViolet: #D6BFED; 
  --cbPurple: #AD80DB; 


  --cbRed: #D00000;
  --cbYellow: #FFBA08;
  --cbBlue: #3F88C5;
  --cbGreen: #136F63;
  --cbDarkBlue: #032B43;
  --cbBlack: #0A0A0A;
  
  --cbRedFill:#FFD6D6;
  --cbYellowFill:#FFF3D6;
  --cbBlueFill:#E0ECF6;
  --cbGreenFill:#DCF9F5;
  --cbDarkBlueFill:#D8EFFD;
  --cbBlackFill:#EBEBEB;

  --cbStrokeWidthL: 8;
  --cbStrokeWidthM: 6;
  --cbStrokeWidthS: 4;

  --cbDotted: 14; 
  
}

.cbCanvas {
  position: absolute;
  width: 100%;
  height: 100%;
  touch-action: none;
  pointer-events: all;
  overflow: clip;
}


.cbAbsolute {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: center center;
  contain: layout style size;
}

.cbContainer {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  z-index: 100;
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}

.cbContainer * {
  box-sizing: border-box;
}

.cbPositioned {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: center center;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  contain: layout style size;
}

.cbPositionedSvg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  contain: layout style size;
}

.cbCenteredG {
  transform: translate(var(--cbPadding), var(--cbPadding));
}

.cbStroke {
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none; 
  rx: 4; 
}

.cbIndicatorStroke {
  fill:none;
  pointer-events: none;
  
  stroke: var(--cbViolet);
  stroke-width: 2; 
  stroke-linejoin: round;
  stroke-linecap: round; 
  rx: 4; 
  visibility: hidden; 
}

.cbEventRecieverStroke {
  visibility: hidden;
  fill: none;
  
  stroke: none; 
  stroke-width: 10;
  stroke-linejoin: round;
  stroke-linecap: round; 
  rx: 4; 
}

.cbSelectStroke {
  fill: var(--cbViolet);
  fill-opacity: 0.1;

  stroke: var(--cbPurple);
  stroke-width: 1;
}

